<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Şehir Yönetim Sistemi</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Şehir Yönetim Sistemi</h1>
    <hr>
    <h2>Yeni Bölge Ekle</h2>

    <form action="#" th:action="@{/saveRegion}" th:object="${region}"
          method="POST">
        <input type="text" th:field="*{city}"
               placeholder="Şehir Adı Giriniz:" class="form-control mb-4 col-4">

        <input type="text" th:field="*{district}"
               placeholder="Şehre Ait İlçeyi Giriniz" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Kaydet</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Liste Sayfasına Dön</a>
</div>
</body>
</html>