<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Şehir Yönetim Sistemim</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1>Şehir Yönetim Sistemi</h1>
  <hr>
  <h2>Bölgeyi Güncelle</h2>

  <form action="#" th:action="@{/saveRegion}" th:object="${region}"
        method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />

    <input type="text" th:field="*{city}" class="form-control mb-4 col-4">

    <input type="text" th:field="*{district}" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Güncelle</button>
  </form>

  <hr>

  <a th:href = "@{/}">Liste Sayfasına Dön</a>
</div>
</body>
</html>